<form [formGroup]="userForm" *ngIf="!newUser" (ngSubmit)="login()">
    <div class="text-center">
        <h5>Connexion</h5>
    </div>
    <div class="form-group has-icon">
        <i class="icon-envelope-o"></i>
        <input type="text" class="form-control form-control-lg" placeholder="Email Address">
    </div>
    <div class="form-group has-icon"><i class="icon-user-secret"></i>
        <input type="text" class="form-control form-control-lg" placeholder="Password">
    </div>
    <a class="forget-pass" (click)="toggleForm()">Nouvel Utilisateur?</a>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log In">
    <p class="text-center">OR</p>
    <a class="forget-pass"  *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Have you forgot your username or password ?</a>
    <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
    <a (click)="signInWithGoogle()" class="btn btn-lg btn-block btn-social google">
        <i class="icon-google"></i>
        Login with Google
    </a>
    <a (click)="signInWithFacebook()" class="btn btn-lg btn-block btn-social facebook">
        <i class="icon-facebook"></i>
        Login with Facebook
    </a>


</form>


<form [formGroup]="userForm" *ngIf="newUser" (ngSubmit)="signup()">
      <div class="text-center">
          <h5>Inscription</h5>
      </div>
      <div class="form-group has-icon">
          <i class="icon-envelope-o"></i>
          <input type="email" class="form-control form-control-lg" placeholder="Email Address" formControlName="email" name="email" required autocomplete="new-password">
      </div>
      <div class="form-group has-icon">
          <i class="icon-user-secret"></i>
          <input type="text" class="form-control form-control-lg" placeholder="Password"  formControlName="password" name="password" required>
      </div>
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Inscription">
      <a class="forget-pass" (click)="toggleForm()">Vous ete déjà enregistré?</a>
</form>
