 <div class="container relative animatedParent animateOnce p-0 bg-white text-center "  *ngIf="!_showCampaignSettings_">
  
<div class="row d-flex bd-highlight no-gutters">
<div class="col-md-12 text-center grey lighten-4">
   <div class="card r-3 no-b paper-card shadow animated fadeIn slow adafri-background" style="margin-top: 50px;" id="particles-js">
              <div class="p-4">
                <div class="text-center">
                  <!-- <span class="icon-award text-white s-48"></span> -->
                  <img class="img-responsive" src="assets/img/images/groupe d'annonces.png" style="width: 10%">
                </div>
                <div class="sc-counter mt-3 adafri-police text-center animated fadeInLeft text-white">Campagne (s) actuelle (s)</div>
              
              </div>
            </div>
  <br>

  <br>
  <br>
                    <div class="card no-b paper-card white">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                  <tbody>
                                     <tr>
                                       <th><div class="lds-roller" *ngIf="isRoller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></th>
                                        <th class="adafri-police-14">Campagne</th>
                                        <th class="adafri-police-14">Etat</th>
                                        <th class="adafri-police-14">Date de début</th>
                                        <th class="adafri-police-14">Date de fin</th>
                                        <th class="adafri-police-14">Budget</th>
                                        <th class="adafri-police-14">Paramétrer</th>
                                    </tr>
                                    <tr class="white" *ngFor="let note of notes | async">
                                 
                                       <!--  <td class="table-img">
                                            <div class="avatar avatar-md mr-3 mb-2 mt-1 white adafri">
                                                        <span class="white adafri avatar-letter avatar-letter-{{note?.name.charAt(0) | lowercase}} avatar-md circle"></span>
                                                    </div>
                                        </td> -->
                                        <td class="text-center" style="width: 30px">
                                          
                                          <div class="dropdown text-center" *ngIf="!isRoller">
    <button type="button" class="btn btn-sm white dropdown-toggle float-left box-popup box text-black-50" style="box-shadow: none;" data-toggle="dropdown">
      <i class="icon-pause_circle_filled" *ngIf="note?.status==='PAUSED'"></i> 
       <i class="icon-circle text-success adafri-police-12"  *ngIf="note?.status==='ENABLED'"></i> 
     
    </button>
    <div class="dropdown-menu no-b shadow">
      <a class="dropdown-item adafri-police-14 cursor" style="cursor: pointer"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget)"><i class="icon-circle text-success"></i> Modifier</a>
      <a class="dropdown-item text-danger adafri-police-14 cursor" style="cursor: pointer" (click)="deleteCampaign(note?.id, note?.id_campagne)"><i class="icon-delete"></i> Supprimmer</a>
    </div>
     <!-- <div class="dropdown-menu"  *ngIf="note?.status==='ENABLED'">
       <a class="dropdown-item disabled" href="#"><i class="icon-circle text-success"></i> Activer</a>
      <a class="dropdown-item text-danger"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-pause"></i> Désactiver</a>
      <a class="dropdown-item text-danger"  (click)="deleteCampaign(note?.id, note?.id_campagne)"><i class="icon-delete"></i> Supprimmer</a>
    </div> -->
  </div>
                                          <!--   -->
                                                                         
                                           <!--  <h6 style="font-weight: bold">{{ note?.name }}</h6> -->
                                        </td>
                                        <td class="text-center">
                                           <p class="d-inline-block adafri-police-14 text-black">{{note?.name}}</p>
                                        </td>
                                           <td class="text-center" *ngIf="note?.status==='PAUSED'">
                                           <p class="d-inline-block adafri-police-14 text-black-50">Mise en ville</p>
                                        </td>
                                         <td class="text-center" *ngIf="note?.status==='ENABLED'">
                                           <p class="d-inline-block adafri-police-14 adafri">En diffusion</p>
                                        </td>
                                        
                                        <!-- <td><div class="d-none d-lg-block">$250</div></td> -->
                                       <!--  <td *ngIf="note?.status=='ENABLED'" class="text-center">
                                         <a class="btn btn-sm white  text-success btn-social r-20" style="margin-left: -40px; font-size: 10px; margin-top: 15px; border: 1px solid green">Activer</a>
                                      </td>
                                         <td *ngIf="note?.status=='PAUSED'"><a class="btn btn-sm white text-danger btn-social d-inline-block r-20" style="margin-left: -40px; font-size: 10px; margin-top: 15px; border: 1px solid red">Désactiver</a>
                                        </td> -->
                                        <td class="text-center">
                                           <span class="adafri-police r-20"><!-- <i class="icon icon-calendar"></i>  -->{{ note?.startDateFrench }}</span>
                                        </td>
                                         <td class="text-center">
                                           <span class="adafri-police r-20"><!-- <i class="icon icon-calendar"></i> --> {{ note?.endDateFrench }}</span>
                                        </td>
                                         <td class="text-center">
                                           <span class="adafri-police r-20"><!-- <i class="icon icon-calendar"></i> --> {{ note?.budget.toString() }} XOF</span>
                                        </td>
                                       <!--  <td>
                                            <div class="d-none d-lg-block text-white">
                                            <span  class="adafri-police r-20" style="color: #9e9e9e; margin-top: 15px"><i class="icon icon-calendar"></i>  <span style="font-size: 14px;"> Début: {{ note?.startDateFrench }}</span></span><br>
                                            <span  class="adafri-police r-20" style="color: #9e9e9e; margin-left: -17px; margin-top: 15px"><i class="icon icon-calendar-times-o"></i>  <span style="font-size: 14px;"> Fin: {{ note?.endDateFrench }}</span></span>
                                            </div>
                                        </td> -->
                                        <td class="text-center">
                                            <a class="btn btn-sm white text-black btn-social r-20 d-inline-block adafri-police-12 border-grey" [id]="note?.id" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget, note?.budgetId, note?.dailyBudget, note?.numberOfDays)"><i class="icon-mode_edit"></i> je débute</a>
                                        </td>
                                        <hr>
                                    </tr>
                    </tbody>
                    </table>
                    </div>
                    
                    </div>
                    </div>
                   
                    </div>
                    
                     
                    

<!--   <div class="col-md-4" *ngFor="let note of notes | async">
    <div class="card my-3 text-white mb-3" >
      <div class="card-header no-b"></div>
      <div class="card-body text-success">
        <h5 class="card-title">{{ note?.name }}</h5>
        <p class="card-text">{{note?.status}}</p>
        <button type="button" class="btn btn-warning btn-lg r-20"
          (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.ad_group_id)"><i
            class="icon-settings mr-2"></i>Administrer</button>

      </div>
    </div>
  </div> -->

</div>
<!-- <div class="row" style="margin-top: 50px !important" *ngIf="display_visuel">
 <div class="col-md-12 text-center">
                        <div class="card no-b shadow1 d-inline-block animated pulse infinite">
                      <div class="card-body no-b text-center">
                        <img class="img-responsive" src="assets/img/images/create.jpg" (click)="createCampaign()" style="cursor: pointer">
                      </div>
                    </div>
                      </div>
</div> -->
 </div>
<!-- <div *ngIf="_showCampaignSettings_">
  <app-campaign-settings [id_campagne]="id_campagne" [id]="id" [name]="name" [_showCamp]="_showCampaignSettings_"
    [status]="status" [ad_group_id]="ad_group_id" [budget]="budget" [budgetId]="budgetId" [dailyBudget]="dailyBudget" [numberOfDays]="numberOfDays"></app-campaign-settings>
</div> -->


                

<!--   <td style="float: right"><a class="btn-fab btn-fab-sm shadow btn-primary" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-arrow-right"></i></a></td> -->