 <div class="container-fluid relative animatedParent animateOnce p-0 bg-white text-center "  *ngIf="!_showCampaignSettings_">
  
<div class="row d-flex bd-highlight no-gutters">
<div class="col-md-12 text-center grey lighten-4">
  <!--  <div class="card r-3 paper-card no-b shadow animated fadeIn slow adafri-background" style="margin-top: 50px;" id="particles-js">
              <div class="">
                <div class="text-center">
               >
                  <img class="img-responsive" src="assets/img/images/banner.jpg" style="width: 30%">
                </div>
                <div class="sc-counter mt-3 adafri-police text-center animated fadeInLeft text-white">Campagne (s) actuelle (s)</div>
              
              </div>
            </div> -->
                    <div class="card no-b paper-card p-0 white d-none d-md-block">
                       <img class="img-responsive" src="assets/img/images/banner.jpg">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                  <tbody>
                                     <tr>
                                       <th><div class="lds-roller" *ngIf="isRoller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></th>
                                        <th class="adafri-police-14">Campagne</th>
                                        <th class="adafri-police-14">Etat</th>
                                        <th class="adafri-police-14">Date de début</th>
                                        <th class="adafri-police-14">Date de fin</th>
                                        <th class="adafri-police-14">Budget</th>
                                        <th class="adafri-police-14">Paramétrer</th>
                                    </tr>
                                    <tr class="white" *ngFor="let note of notes | async">
                                        <td class="text-center" style="width: 30px">
                                          
                                          <div class="dropdown text-center" *ngIf="!isRoller">
    <button type="button" class="btn btn-sm white dropdown-toggle float-left box-popup box text-black-50" style="box-shadow: none;" data-toggle="dropdown">
      <i class="icon-pause_circle_filled" *ngIf="note?.status==='PAUSED'"></i> 
       <i class="icon-circle text-success adafri-police-12"  *ngIf="note?.status==='ENABLED'"></i> 
     
    </button>
    <div class="dropdown-menu no-b shadow">
      <a class="dropdown-item adafri-police-14 cursor" style="cursor: pointer"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget)"><i class="icon-circle text-success"></i> Modifier</a>
      <a class="dropdown-item text-danger adafri-police-14 cursor" style="cursor: pointer" (click)="deleteCampaign(note?.id, note?.id_campagne)"><i class="icon-delete"></i> Supprimmer</a>
    </div>
   
  </div>
                                        </td>
                                        <td class="text-center">
                                           <p class="d-inline-block adafri-police-14 text-black">{{note?.name}}</p>
                                        </td>
                                           <td class="text-center" *ngIf="note?.status==='PAUSED'">
                                           <p class="d-inline-block adafri-police-14 text-black-50">Mise en ville</p>
                                        </td>
                                         <td class="text-center" *ngIf="note?.status==='ENABLED'">
                                           <p class="d-inline-block adafri-police-14 adafri">En diffusion</p>
                                        </td>
                                        <td class="text-center">
                                           <span class="adafri-police r-20">{{ note?.startDateFrench }}</span>
                                        </td>
                                         <td class="text-center">
                                           <span class="adafri-police r-20"><!-- <i class="icon icon-calendar"></i> --> {{ note?.endDateFrench }}</span>
                                        </td>
                                         <td class="text-center">
                                           <span class="adafri-police r-20"><!-- <i class="icon icon-calendar"></i> -->{{ ((note?.budget * 100)/80).toString() }} XOF</span>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm white text-black btn-social r-20 d-inline-block adafri-police-12 border-grey" [id]="note?.id" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget, note?.budgetId, note?.dailyBudget, note?.numberOfDays)"><i class="icon-mode_edit"></i> je débute</a>
                                        </td>
                                        <hr>
                                    </tr>
                    </tbody>
                    </table>
                    </div>
                    
                    </div>
                    </div>


                              <div class="card no-b paper-card white p-0 d-md-none d-sm-block">
                                  <img class="img-responsive" src="assets/img/images/banner.jpg">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                  <tbody>
                                     <tr>
                                       <th><div class="lds-roller" *ngIf="isRoller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></th>
                                        <th class="adafri-police-12 p-0">Campagne</th>
                                        <th class="adafri-police-12 p-0">Etat</th>
                                        <th class="adafri-police-12 p-0">Date de début</th>
                                        <th class="adafri-police-12 p-0">Date de fin</th>
                                        <th class="adafri-police-12 p-0">Budget</th>
                                        <th class="adafri-police-12 p-0">Paramétrer</th>
                                    </tr>
                                    <tr class="white" *ngFor="let note of notes | async">
                                        <td class="text-center p-0">
                                          
                                          <div class="dropdown text-center" *ngIf="!isRoller">
    <button type="button" class="btn btn-sm white dropdown-toggle float-left box-popup box text-black-50" style="box-shadow: none;" data-toggle="dropdown">
      <i class="icon-pause_circle_filled" *ngIf="note?.status==='PAUSED'"></i> 
       <i class="icon-circle text-success adafri-police-12"  *ngIf="note?.status==='ENABLED'"></i> 
     
    </button>
    <div class="dropdown-menu no-b shadow">
      <a class="dropdown-item adafri-police-12 cursor" style="cursor: pointer"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget)"><i class="icon-circle text-success"></i> Modifier</a>
      <a class="dropdown-item text-danger adafri-police-12 cursor" style="cursor: pointer" (click)="deleteCampaign(note?.id, note?.id_campagne)"><i class="icon-delete"></i> Supprimmer</a>
    </div>
   
  </div>
                                        </td>
                                        <td class="text-center p-0">
                                           <p class="d-inline-block adafri-police-12 text-black">{{note?.name}}</p>
                                        </td>
                                           <td class="text-center p-0" *ngIf="note?.status==='PAUSED'" >
                                           <p class="d-inline-block adafri-police-12 text-black-50">Mise en ville</p>
                                        </td>
                                         <td class="text-center p-0" *ngIf="note?.status==='ENABLED'" style="padding: -0.5rem">
                                           <p class="d-inline-block adafri-police-12 adafri">En diffusion</p>
                                        </td>
                                        <td class="text-center p-0">
                                           <span class="adafri-police-12">{{ note?.startDateFrench }}</span>
                                        </td>
                                         <td class="text-center p-0">
                                           <span class="adafri-police-12"><!-- <i class="icon icon-calendar"></i> --> {{ note?.endDateFrench }}</span>
                                        </td>
                                         <td class="text-center p-0" >
                                           <span class="adafri-police-12"><!-- <i class="icon icon-calendar"></i> --> {{ ((note?.budget * 100)/80).toString() }} XOF</span>
                                        </td>
                                        <td class="text-center p-0">
                                            <a class="btn btn-sm white text-black btn-social r-20 d-inline-block adafri-police-12 border-grey" [id]="note?.id" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.budget, note?.budgetId, note?.dailyBudget, note?.numberOfDays)"><i class="icon-mode_edit"></i> je débute</a>
                                        </td>
                                        <hr>
                                    </tr>
                    </tbody>
                    </table>
                    </div>
                    
                    </div>
                    </div>
                   
                    </div>
                    
                     
                    

<!--   <div class="col-md-4" *ngFor="let note of notes | async">
    <div class="card my-3 text-white mb-3" >
      <div class="card-header no-b"></div>
      <div class="card-body text-success">
        <h5 class="card-title">{{ note?.name }}</h5>
        <p class="card-text">{{note?.status}}</p>
        <button type="button" class="btn btn-warning btn-lg r-20"
          (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.ad_group_id)"><i
            class="icon-settings mr-2"></i>Administrer</button>

      </div>
    </div>
  </div> -->

</div>
<!-- <div class="row" style="margin-top: 50px !important" *ngIf="display_visuel">
 <div class="col-md-12 text-center">
                        <div class="card no-b shadow1 d-inline-block animated pulse infinite">
                      <div class="card-body no-b text-center">
                        <img class="img-responsive" src="assets/img/images/create.jpg" (click)="createCampaign()" style="cursor: pointer">
                      </div>
                    </div>
                      </div>
</div> -->
 </div>
<!-- <div *ngIf="_showCampaignSettings_">
  <app-campaign-settings [id_campagne]="id_campagne" [id]="id" [name]="name" [_showCamp]="_showCampaignSettings_"
    [status]="status" [ad_group_id]="ad_group_id" [budget]="budget" [budgetId]="budgetId" [dailyBudget]="dailyBudget" [numberOfDays]="numberOfDays"></app-campaign-settings>
</div> -->


                

<!--   <td style="float: right"><a class="btn-fab btn-fab-sm shadow btn-primary" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-arrow-right"></i></a></td> -->