 <div class="container relative animatedParent animateOnce p-0 bg-white text-center "  *ngIf="!_showCampaignSettings_">
<div class="row d-flex bd-highlight no-gutters">
<div class="col-md-12 text-center white">
  <br>
  <h5 class="adafri-police" syle="color: #9e9e9e">Campagne (s) actuelle (s)</h5>
  <br>
  <br>
                    <div class="card no-b white" style="" >
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr class="no-b shadow" *ngFor="let note of notes | async">
                                 
                                        <td class="table-img">
                                            <div class="avatar avatar-md mr-3 mb-2 mt-1 grey lighten-1">
                                                        <span class="grey lighten-1 avatar-letter avatar-letter-{{note?.name.charAt(0) | lowercase}} avatar-md circle"></span>
                                                    </div>
                                        </td>
                                        <td class="text-center">
                                           <div class="lds-roller" *ngIf="isRoller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                          <div class="dropdown" style="margin-top: 10px" *ngIf="!isRoller">
    <button type="button" class="btn btn-sm white dropdown-toggle" data-toggle="dropdown">
      <i class="icon-pause" *ngIf="note?.status==='PAUSED'"></i> 
       <i class="icon-circle text-success"  *ngIf="note?.status==='ENABLED'"></i> 
     
    </button> {{note?.name}}
    <div class="dropdown-menu">
      <a class="dropdown-item"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-circle text-success"></i> Modifier</a>
      <a class="dropdown-item text-danger" (click)="deleteCampaign(note?.id, note?.id_campagne)" ><i class="icon-delete"></i> Supprimmer</a>
    </div>
     <!-- <div class="dropdown-menu"  *ngIf="note?.status==='ENABLED'">
       <a class="dropdown-item disabled" href="#"><i class="icon-circle text-success"></i> Activer</a>
      <a class="dropdown-item text-danger"  (click)="updateCampaign(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-pause"></i> Désactiver</a>
      <a class="dropdown-item text-danger"  (click)="deleteCampaign(note?.id, note?.id_campagne)"><i class="icon-delete"></i> Supprimmer</a>
    </div> -->
  </div>
                                          <!--   -->
                                                                         
                                           <!--  <h6 style="font-weight: bold">{{ note?.name }}</h6> -->
                                        </td>
                                        <!-- <td><div class="d-none d-lg-block">$250</div></td> -->
                                       <!--  <td *ngIf="note?.status=='ENABLED'" class="text-center">
                                         <a class="btn btn-sm white  text-success btn-social r-20" style="margin-left: -40px; font-size: 10px; margin-top: 15px; border: 1px solid green">Activer</a>
                                      </td>
                                         <td *ngIf="note?.status=='PAUSED'"><a class="btn btn-sm white text-danger btn-social d-inline-block r-20" style="margin-left: -40px; font-size: 10px; margin-top: 15px; border: 1px solid red">Désactiver</a>
                                        </td> -->
                                        <td>
                                            <div class="d-none d-lg-block">
                                            <span  class="adafri-police r-20" style="color: #9e9e9e; margin-top: 15px"><i class="icon icon-calendar"></i>  <span style="font-size: 14px;"> Début: {{ note?.startDateFrench }}</span></span><br>
                                            <span  class="adafri-police r-20" style="color: #9e9e9e; margin-left: -17px; margin-top: 15px"><i class="icon icon-calendar-times-o"></i>  <span style="font-size: 14px;"> Fin: {{ note?.endDateFrench }}</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm white text-black-50 btn-social r-20" [id]="note?.id" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.ad_group_id, note?.budget, note?.budgetId, note?.dailyBudget, note?.numberOfDays)" style="margin-left: -40px; font-size: 10px; margin-top: 15px; border: 1px solid grey" >Configurer</a>
                                        </td>
                                        <hr>
                                    </tr>
                    </tbody>
                    </table>
                    </div>
                    
                    </div>
                    </div>
                   
                    </div>
                    
                     
                    

<!--   <div class="col-md-4" *ngFor="let note of notes | async">
    <div class="card my-3 text-white mb-3" >
      <div class="card-header no-b"></div>
      <div class="card-body text-success">
        <h5 class="card-title">{{ note?.name }}</h5>
        <p class="card-text">{{note?.status}}</p>
        <button type="button" class="btn btn-warning btn-lg r-20"
          (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status, note?.ad_group_id)"><i
            class="icon-settings mr-2"></i>Administrer</button>

      </div>
    </div>
  </div> -->

</div>
<!-- <div class="row" style="margin-top: 50px !important" *ngIf="display_visuel">
 <div class="col-md-12 text-center">
                        <div class="card no-b shadow1 d-inline-block animated pulse infinite">
                      <div class="card-body no-b text-center">
                        <img class="img-responsive" src="assets/img/images/create.jpg" (click)="createCampaign()" style="cursor: pointer">
                      </div>
                    </div>
                      </div>
</div> -->
 </div>
<div *ngIf="_showCampaignSettings_">
  <app-campaign-settings [id_campagne]="id_campagne" [id]="id" [name]="name" [_showCamp]="_showCampaignSettings_"
    [status]="status" [ad_group_id]="ad_group_id" [budget]="budget" [budgetId]="budgetId" [dailyBudget]="dailyBudget" [numberOfDays]="numberOfDays"></app-campaign-settings>
</div>


                

<!--   <td style="float: right"><a class="btn-fab btn-fab-sm shadow btn-primary" (click)="goCampaignSettings(note?.id, note?.id_campagne, note?.name, note?.status)"><i class="icon-arrow-right"></i></a></td> -->