<!-- 


<div class="container">
  <div class="card no-b">
    <div class="card-header white text-center">
      <h1>
        Politique de confidentialité
      </h1>
      <h4 style="float: left">Sommaire</h4>
     
      <ol style="float: left">
      <li>Informations générales</li>
       <li>Les données collectées sur notre site</li>
        <li>Exploitation des données vous concernant</li>
         <li>Fins commerciales</li>
          <li>Cookies</li>
          <li>Accès, vérification et modification de vos données personnelles</li>
          <li>Protection et sauvegarde de vos données personnelles</li>
          <li>Autres informations</li>

    </ol>
    <br>
    <h3 style="float: left">Informations générales</h3>

    </div>
    <div class="card-body white no-b">
    

    </div>
  </div>
</div>

 -->