<div id="loader" class="loaded">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="app">

<!-- Pre loader -->


<aside class="main-sidebar fixed offcanvas b-r sidebar-tabs" data-toggle='offcanvas'>
    <div class="sidebar">
        <div class="d-flex hv-100 align-items-stretch">
            <div class="indigo text-white">
                <div class="nav mt-5 pt-5 flex-column nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                             <a class="nav-link btn_lib" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true" title="Backgrounds"><i class="icon-photo_album"></i></a>
                    <!--  <a class="nav-link" (click)="triggerImage()" title="Ajouter une image" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true"><i class="icon-photo_size_select_actual" aria-hidden="true" style=""></i></a> -->
                       <!--  <a class="nav-link" (click)="triggerText()" title="Ajouter un texte" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true"><i class="icon-title" aria-hidden="true" ></i></a> -->
                       <!--  <a class="nav-link" (click)="triggerFigure()" title="Ajouter une figure géométrique" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                       aria-controls="v-pills-home" aria-selected="true"><i class="icon-connectdevelop" aria-hidden="true"></i></a> -->
                    <a href="" style="">
                        <figure class="avatar">
                            <img src="http://137.74.199.121/static/ads/2.jpg" alt="">
                            <span class="avatar-badge online"></span>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="relative brand-wrapper sticky b-b">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <div class="text-xs-center">
                                <span class="font-weight-lighter s-18">Menu</span>
                            </div>
                            <div class="badge badge-danger r-0">New Panel</div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                                    <div class="container-fluid" style="margin-left: 20px">
                                    <div class="row">
                                        <div class="row">
                                           
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/01.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/05.jpg" style="width: 90px; height:90px;">
                                            
                                    </div>
                                    <div class="row">
                                           
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/23.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/31.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/36.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/37.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/44.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/48.jpg" style="width: 90px; height:90px;">
                                            
                                    </div>
                                    <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/01.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/02.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/03.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/04.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/05.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/06.png" style="width: 90px; height:90px;">
                                    </div>
                                    <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/01.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                    </div>
                                     <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/01.jpg" style="width: 90px; height:90px;">
                                    </div>
                                    </div>
                                    </div>  
                    </ul>
                </div>

            </div>
        </div>
    </div>
</aside>

<div class="has-sidebar-left">
    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
            <div class="search-bar">
                <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                       placeholder="start typing...">
            </div>
            <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
               aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
        </div>
    </div>
</div>
</div>
 <a href="#" data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed" (click)="showTab()">
    <i></i>
</a> 
<div class="has-sidebar-left has-sidebar-tabs">
    <!--navbar-->
    <div class="sticky">
        <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white shadow">
            <div class="relative">
                <div class="d-flex">
                    <div class="d-none d-md-block">
                        <h1 class="nav-title">Comparez banner maker</h1>
                    </div>
                </div>
            </div>
            <!--Top Menu Start -->
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
                <!-- User Account-->
        <li class="dropdown custom-dropdown user user-menu ">
            <a href="#" class="nav-link" data-toggle="dropdown">
                <img src="http://137.74.199.121/static/ads/2.jpg" class="user-image" alt="User Image">
                <i class="icon-more_vert "></i>
            </a>
            <div class="dropdown-menu p-4 dropdown-menu-right">
                <div class="row box justify-content-between my-4">
                    <div class="col">
                        <a href="#">
                            <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                            <div class="pt-1">Apps</div>
                        </a>
                    </div>
                    <div class="col"><a href="#">
                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                        <div class="pt-1">Profile</div>
                    </a></div>
                    <div class="col">
                        <a href="#">
                            <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                            <div class="pt-1">Settings</div>
                        </a>
                    </div>
                </div>
                <div class="row box justify-content-between my-4">
                    <div class="col">
                        <a href="#">
                            <i class="icon-star light-green lighten-1 avatar  r-5"></i>
                            <div class="pt-1">Favourites</div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <i class="icon-save2 orange accent-1 avatar  r-5"></i>
                            <div class="pt-1">Saved</div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <i class="icon-perm_data_setting grey darken-3 avatar  r-5"></i>
                            <div class="pt-1">Settings</div>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row box justify-content-between my-4">
                    <div class="col">
                        <a href="#">
                            <i class="icon-apps purple lighten-2 avatar  r-5"></i>
                            <div class="pt-1">Apps</div>
                        </a>
                    </div>
                    <div class="col"><a href="#">
                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                        <div class="pt-1">Profile</div>
                    </a></div>
                    <div class="col">
                        <a href="#">
                            <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                            <div class="pt-1">Settings</div>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <!-- Messages-->
      <!--   <li>

            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                            aria-controls="v-pills-home" aria-selected="true"><i class="icon-inbox2"></i></a>
        </li>
        <li>
            
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false" title="Backgrounds"><i class="icon-photo_album" aria-hidden="true"></i></a>
        </li>
        <li>
            
            <a class="nav-link" (click)="triggerImage()" title="Ajouter une image" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true"><i class="icon-photo_size_select_actual" aria-hidden="true" style=""></i></a>
        </li>
        <li>
            
            <a class="nav-link" (click)="triggerText()" title="Ajouter un texte" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true"><i class="icon-title" aria-hidden="true" ></i></a>
        </li>
        <li>
            
            <a class="nav-link" (click)="triggerFigure()" title="Ajouter une figure géométrique" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true"><i class="icon-connectdevelop" aria-hidden="true"></i></a>
        </li> -->
    </ul>
</div>
        </div>
    </div>
    <!--#navbar-->
    <div class="container-fluid my-3">
        <div class="d-flex row">
            <div class="col-md-12">
                    <!-- Basic Validation -->

                    <!-- #END# Basic Validation -->
                    <!-- Advanced Validation -->
                    <div class='ad-block'>
    <ul>
    <li *ngFor="let item of items_campaign">
       {{ item.id }}
    </li>
  </ul>
                                            <div class="card my-3 shadow no-b r-0">
                        <div class="card-header white">
                            <h6>Targeting</h6>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                
                                    <div class="col-md-4 mb-3">
                                        
                                     <div class="card">
                    <div>
                        <div class="card-body b-b">
                            <div class="card-title">Tranches d'âges</div>



                                <select class="select2" name="ages[]" multiple="multiple">
                                     
                                    <option value="503999">indeterminé</option>
                                    <option value="503001">18-24 ans</option>
                                    <option value="503002">25-34 ans</option>
                                    <option value="503003">35-44 ans</option>
                                    <option value="503004">45-54 ans</option>
                                    <option value="503005">55-64 ans</option>
                                    <option value="503006">+64 ans</option>
                                </select>
                      
                        </div>
                        
                        <div class="card-body b-b">
                            <div class="card-title">Zone</div>
                            <div class="bg-light">
                                <select class="custom-select select2" required>
                                    <option value=""></option>
                                    <option value="9070424">Dakar</option>
                                    <option value="9070071">Saint Louis</option>
                                     <option value="9070065">Thiès</option>
                          
                                </select>
                            </div>
                        </div>
                       <!--  <div class="card-body b-b">
                            <div class="card-title">Multiple Select</div>
                            <select class="select2" name="states[]" multiple="multiple">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                                <option value="LH">Lahore</option>
                                <option value="KA">Karachi</option>
                            </select>
                        </div> -->

                    </div>
                </div>    
                                    </div>
                                                                
                                    <div class="col-md-4 mb-3">
                                        
                                     <div class="card">
                    <div>
                        <div class="card-body b-b">
                            <div class="card-title">Sexe</div>
                                <select class="select2" name="ages[]" multiple="multiple">
                                     <option value=""></option>
                                    <option value="10">Hommes</option>
                                    <option value="11">Femmes</option>
                                    <option value="20">indéterminé</option>
                                   
                                </select>
                      
                        </div>
                        <div class="card-body b-b">
                            <div class="card-title">Appareils de destination</div>
                            <div class="bg-light">
                                <select class="custom-select select2" required>
                                    <option value=""></option>
                                    <option value="30000">Ordinateur</option>
                                    <option value="30001">Mobile</option>
                                    <option value="30002">Tablette</option>
                          
                                </select>
                            </div>
                        </div>
                      
                       <!--  <div class="card-body b-b">
                            <div class="card-title">Multiple Select</div>
                            <select class="select2" name="states[]" multiple="multiple">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                                <option value="LH">Lahore</option>
                                <option value="KA">Karachi</option>
                            </select>
                        </div> -->

                    </div>
                </div>    
                                    </div>
                                      <div class="col-md-4 mb-3">
                            <div class="card">

                                <div class="card-body b-b">
                                      <div class="card-title">Url de la Landing Page</div>
                                       <div class="bg-light">
                                                
                                                <input type="text" name="url_finale" id="url_finale" class="form-control" placeholder="Exemple: https://www.exemple.com" required>
                                                <div class="valid-feedback">
                                                    Url valide !
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                                </div>
                                    
                            </form>
                        </div>
                    </div>
                    <!-- #END# Tooltip -->
                    <!-- Browser defaults -->
                   
          <div class="card my-3 todo-widget no-b r-5">
                    <div class="card-header white">
                        
                            <div class="col-md-2">
                                <h6>Annonces</h6>

                            </div>
                            <div class="col-md-10">
                                <div style="float: right">
                                <a class="btn-fab btn-fab-md shadow btn-primary" (click)="triggerImage()" title="Ajouter une image"><i class="icon-image"></i></a>
                                 <a class="btn-fab btn-fab-md shadow btn-primary" (click)="triggerText()" title="Ajouter un texte"><i class="icon-title"></i></a>
                                <!--  <a class="btn-fab btn-fab-md shadow btn-primary library" title="Backgrounds"><i class="icon-photo_library"></i></a> -->
                                 <a class="btn-fab btn-fab-md shadow btn-primary"  (click)="addFigure('circle');"><i class="icon-circle-o"></i></a>
                                
                                 <a class="btn-fab btn-fab-md shadow btn-primary" (click)="addFigure('triangle');"><i class="icon-toggle-up"></i></a>
                                 <a class="btn-fab btn-fab-md shadow btn-primary"  (click)="addFigure('rectangle');"><i class="icon-border_horizontal"></i></a>
                                <!--  <button class="bg-primary r-20 border-0" [disabled]="!selected || selected.type== 'group'" (click)="clone();"><i class="icon-clone" style="color: white"></i></button> -->
                                  <a class="btn-fab btn-fab-md shadow btn-success" (click)="clone();"><i class="icon-clone"></i></a>
                                  <a class="btn-fab btn-fab-md shadow btn-danger" (click)="removeSelected();"><i class="icon-delete_forever"></i></a>
                                 <!-- <button class="r-20 bg-danger border-0" [disabled]="!selected" 
                                (click)="removeSelected();"><i class="icon-delete_forever" style="color: white"></i></button> -->
                                <!--   <button class="r-20 border-0 bg-red" [disabled]="!selected" (click)="cleanSelect()"><i class="icon-delete_forever" style="color: white"></i></button> -->
                               <!--  <button type="button" class="btn btn-primary btn-lg r-20"><i class="icon-check-square mr-2"></i>Enregistrer</button> -->

                           </div>
                                </div>
                    
                                           
                   
                    </div>
                    <div class="card-body b-b" data-height="350">
                        <div class="row">
                                                    <div class="col-md-3">

                            <canvas id="canvas" style="width: 300px; border-color: rgb(238, 221, 221); height: 400px" ></canvas> 
                        </div>
                        <div class="col-md-9">
                                            <div class="card no-b my-card draggable">
                    <div class="card-header indigo darken-1 text-white">
                        <h4><i class="icon-settings mr-2 mb-5"></i>Options</h4>
                        <div class="d-flex justify-content-between">
                            <div class="align-self-end">
                                <ul class="nav nav-material nav-material-white card-header-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="w6--tab1" data-toggle="tab" href="#w6-tab1" role="tab" aria-controls="tab1" aria-expanded="true" aria-selected="true">Texte</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="w6--tab2" data-toggle="tab" href="#w6-tab2" role="tab" aria-controls="tab2" aria-selected="false">Fonds</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="w6--tab3" data-toggle="tab" href="#w6-tab3" role="tab" aria-controls="tab3" aria-selected="false">Figure</a>
                                    </li>
                                </ul>
                                <a class="btn-fab btn-fab fab-right-bottom absolute shadow btn-primary"><i class="icon-heart-o s-14"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body no-p">
                        <div class="tab-content" id="v-pills-tabContent2">
                            <div class="tab-pane fade active show" id="w6-tab1" role="tabpanel" aria-labelledby="w6-tab1">
                                <div class="table-responsive">
                  <div class="card">
                  <div class="col-md-9">

                      <div class="card-body p-0">
                          <ul class="list-group no-b">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <i class="icon icon-opacity purple-text"></i>Opacité
                                  </div>
                                   <div *ngIf="selected && selected.type != 'group'">
                                        
                                              <input type="range" class="range-slider form-control" [(ngModel)]="props.opacity" (change)="setOpacity()">
                                         
                                      </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <i class="icon icon-palette text-blue"></i>Couleur
                                  </div>
    <div *ngIf="selected && textEditor || selected && figureEditor">
                                        
                                              <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill"
                                                  [style.background]="props.fill" [value]="props.fill" (colorPickerChange)="setFill()" style="width: 55%; float: right">
                                          
                                      </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <i class="icon icon-format_size pink-text"></i> Police
                                  </div>
                                  <div  *ngIf="selected && textEditor">
                                       <select class="custom-select select2" [(ngModel)]="props.fontFamily"
                                                      (change)="setFontFamily()" style="margin-left: 10px;" required>
                                     <option value="arial">Arial</option>
                                                      <option value="helvetica" selected>Helvetica</option>
                                                      <option value="verdana">Verdana</option>
                                                      <option value="courier">Courier</option>
                                                      <option value="Roboto">Roboto</option>
                                                      <option value="Open Sans">Open Sans</option>
                                                      <option value="Zilla Slab">Zilla Slab</option>
                                                      <option value="Lato">Lato</option>
                                                      <option value="Bellefair">Bellefair</option>
                                                      <option value="Fresca">Fresca</option>
                                                      <option value="Raleway">Raleway</option>
                                                      <option value="Open Sans Condensed">Open Sans Condensed</option>
                                                      <option value="Indie Flower">Indie Flower</option>
                                                      <option value="Josefin Sans">Josefin Sans</option>
                                                      <option value="Inconsolata">Inconsolata</option>
                                                      <option value="Pacifico">Pacifico</option>
                                                      <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                                  </select>
                                  </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <i class="icon icon-line_style text-green"></i> Style
                                  </div>
                                  <div >
  
                                      <ul class="social social list-inline"  *ngIf="selected && textEditor">
                                              
                                          <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info"  [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()"><i class="icon-format_italic"></i></a></li>
                                  <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info" [ngClass]="{'active': hasTextDecoration('underline') }"
                                                          (click)="setTextDecoration('underline')"><i class="icon-underline"></i></a></li>
                                  <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info"  [ngClass]="{'active': props.fontWeight }" (click)="setBold()"><i class="icon-bold"></i></a></li>
                                  
                              </ul>
                                  </div>
                              </li>
                             
                          </ul>
                      </div>
                      <div class="col-md-3">
                 
                  
                
                    </div>
                    <div class="col image-block draggable" style="display: none">
                                               <div class="card b-0">
                                                   <div class="card-body p-5">
                                                           <div class="card">
                                                                   <div class="card-header">Upload image</div>
                                                                   <div class="card-body text-center">
                                                                       <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url"
                                                                           (click)="addImageOnCanvas(url);">
                                                                       <input type="file" (change)="readUrl($event);" id="image">
                                                                       <br />
                                                                       <br />
                                                                       <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                                           <div class="btn-group" role="group">
                                                                               <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                                                                                   <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                               </div>
                                       </div>
                                       </div>
                                   </div>  
                  </div>
                </div>
                                </div>
                            </div>
                            <div class="tab-pane fade text-center p-5" id="w6-tab2" role="tabpanel" aria-labelledby="w6-tab2">
                            
                       <!--             <div class="container-fluid" style="margin-left: 20px">
                                    <div class="row">
                                        <div class="row">
                                           
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/01.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Blurred Backgrounds Vol.2/05.jpg" style="width: 90px; height:90px;">
                                            
                                    </div>
                                    <div class="row">
                                           
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/23.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/31.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/36.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/37.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/44.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/7 HD Polygon Backgrounds/48.jpg" style="width: 90px; height:90px;">
                                            
                                    </div>
                                    <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/01.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/02.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/03.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/04.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/05.png" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/PNG/06.png" style="width: 90px; height:90px;">
                                    </div>
                                    <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/01.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                    </div>
                                     <div class="row">
                                           
                                             <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/02.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/03.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/04.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Bokeh Backgrounds Vol.1/05.jpg" style="width: 90px; height:90px;">
                                            <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/5 Infinite White Studio Backdrops/01.jpg" style="width: 90px; height:90px;">
                                    </div>
                                    </div>
                                    </div> -->
                            </div>
                            <div class="tab-pane fade text-center p-5" id="w6-tab3" role="tabpanel" aria-labelledby="w6-tab3">
                                
                            </div>
                        </div>

                    </div>
                </div>
                        </div>
                        </div>

                    </div>
                   
                    </div>
                    </div>
                </div>
         
        </div>
    </div>

<!-- Right Sidebar -->
<!-- <aside class="control-sidebar fixed white ">
    <div class="slimScroll">
        <div class="sidebar-header">
            <h4>Activity List</h4>
            <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
        </div>
        <div class="p-3">
            <div>
                <div class="my-3">
                    <small>25% Complete</small>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="my-3">
                    <small>45% Complete</small>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 45%;" aria-valuenow="45"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="my-3">
                    <small>60% Complete</small>
                    `
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="my-3">
                    <small>75% Complete</small>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="my-3">
                    <small>100% Complete</small>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 bg-primary text-white">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="font-weight-normal s-14">Sodium</h5>
                    <span class="font-weight-lighter text-primary">Spark Bar</span>
                    <div> Oxygen
                        <span class="text-primary">
                                                    <i class="icon icon-arrow_downward"></i> 67%</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <canvas width="100" height="70" data-chart="spark" data-chart-type="bar"
                            data-dataset="[[28,68,41,43,96,45,100,28,68,41,43,96,45,100,28,68,41,43,96,45,100,28,68,41,43,96,45,100]]"
                            data-labels="['a','b','c','d','e','f','g','h','i','j','k','l','m','n','a','b','c','d','e','f','g','h','i','j','k','l','m','n']">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                <tbody>
                <tr>
                    <td>
                        <a href="#">INV-281281</a>
                    </td>
                    <td>
                        <span class="badge badge-success">Paid</span>
                    </td>
                    <td>$ 1228.28</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">INV-01112</a>
                    </td>
                    <td>
                        <span class="badge badge-warning">Overdue</span>
                    </td>
                    <td>$ 5685.28</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">INV-281012</a>
                    </td>
                    <td>
                        <span class="badge badge-success">Paid</span>
                    </td>
                    <td>$ 152.28</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">INV-01112</a>
                    </td>
                    <td>
                        <span class="badge badge-warning">Overdue</span>
                    </td>
                    <td>$ 5685.28</td>
                </tr>
                <tr>
                    <td>
                        <a href="#">INV-281012</a>
                    </td>
                    <td>
                        <span class="badge badge-success">Paid</span>
                    </td>
                    <td>$ 152.28</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sidebar-header">
            <h4>Activity</h4>
            <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
        </div>
        <div class="p-4">
            <div class="activity-item activity-primary">
                <div class="activity-content">
                    <small class="text-muted">
                        <i class="icon icon-user position-left"></i> 5 mins ago
                    </small>
                    <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
                </div>
            </div>
            <div class="activity-item activity-danger">
                <div class="activity-content">
                    <small class="text-muted">
                        <i class="icon icon-user position-left"></i> 8 mins ago
                    </small>
                    <p>Lorem ipsum dolor sit ametcon the sectetur that ascing elit users.</p>
                </div>
            </div>
            <div class="activity-item activity-success">
                <div class="activity-content">
                    <small class="text-muted">
                        <i class="icon icon-user position-left"></i> 10 mins ago
                    </small>
                    <p>Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</p>
                </div>
            </div>
            <div class="activity-item activity-warning">
                <div class="activity-content">
                    <small class="text-muted">
                        <i class="icon icon-user position-left"></i> 12 mins ago
                    </small>
                    <p>Lorem ipsum dolor sit amet consec tetur adip ascing elit users.</p>
                </div>
            </div>
        </div>
    </div>
</aside> -->
<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
<div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->



</div>