<div id="app">
  <aside class="main-sidebar fixed offcanvas b-r sidebar-tabs" data-toggle='offcanvas'>
    <div class="sidebar">
      <div class="d-flex hv-100 align-items-stretch">
        <div class="indigo text-white">
          <div class="nav mt-5 pt-5 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true"><i class="icon-inbox2"></i></a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false"><i class="icon-add"></i></a>
            <a class="nav-link blink skin_handle"><i class="icon-lightbulb_outline"></i></a>
            <a class="nav-link" id="v-pills-messages-tab"><i class="icon-message"></i></a>
            <a class="nav-link" id="v-pills-settings-tab"><i class="icon-settings"></i></a>
            <a href="">
              <figure class="avatar">
                <img src="assets/img/dummy/u3.png" alt="">
                <span class="avatar-badge online"></span>
              </figure>
            </a>
          </div>
        </div>
        <div class="tab-content flex-grow-1" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="relative brand-wrapper sticky b-b">
              <div class="d-flex align-items-center p-3">
                <div class="text-xs-center">
                  <span class="font-weight-lighter s-18">Menu</span>
                </div>
                <div class="badge badge-danger r-0">New Panel</div>
              </div>
            </div>
            <ul class="sidebar-menu">
              <li class="treeview">
                <a href="index.html">
                  <i class="icon icon-sailing-boat-water s-24"></i> <span>Dashboard</span>
                </a>
              </li>
              <li class="treeview"><a>
                  <i class="icon icon icon-package s-24"></i>
                  <span>Products</span>
                  <span class="badge r-3 badge-primary pull-right">4</span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="panel-page-products.html"><i class="icon icon-circle-o"></i>All
                      Products</a>
                  </li>
                  <li><a href="panel-page-products-create.html"><i class="icon icon-add"></i>Add
                      New </a>
                  </li>
                </ul>
              </li>
              <li class="treeview"><a><i class="icon icon-account_box s-24"></i>Users<i
                    class=" icon-angle-left  pull-right"></i></a>
                <ul class="treeview-menu">
                  <li><a href="panel-page-users.html"><i class="icon icon-circle-o"></i>All Users</a>
                  </li>
                  <li><a href="panel-page-users-create.html"><i class="icon icon-add"></i>Add User</a>
                  </li>
                  <li><a href="panel-page-profile.html"><i class="icon icon-user"></i>User Profile </a>
                  </li>
                </ul>
              </li>
              <li class="treeview"><a>
                  <i class="icon icon-package s-24"></i>
                  <i class=" icon-angle-left  pull-right"></i>
                  <span>Inbox</span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="inbox.html"><i class="icon icon-circle-o"></i>Inbox</a>
                  </li>
                  <li><a href="inbox2.html"><i class="icon icon-circle-o"></i>Inbox 2</a>
                  </li>
                  <li><a href="inbox-create.html"><i class="icon icon-add"></i>Compose</a>
                  </li>
                </ul>
              </li>
              <li class="treeview ">
                <a>
                  <i class="icon icon-package  s-24"></i> <span>Apps</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="chat.html"><i class="icon icon-circle-o"></i>Chat</a>
                  </li>
                  <li><a href="tasks.html"><i class="icon icon-circle-o"></i>Tasks / Todo</a>
                  </li>
                  <li><a href="calendar.html"><i class="icon icon-date_range"></i>Calender</a>
                  </li>
                  <li><a href="contacts.html"><i class="icon icon-circle-o"></i>Contacts</a>
                  </li>
                  <li><a href="projects.html"><i class="icon icon-circle-o"></i>Projects</a>
                  </li>
                  <li><a href="projects-list.html"><i class="icon icon-circle-o"></i>Projects List</a>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a>
                  <i class="icon icon-documents3 s-24"></i> <span>Pages</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a><i class="icon icon-documents3"></i>Blank Pages<i class=" icon-angle-left  pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a href="panel-page-blank.html"><i class="icon icon-document"></i>Simple
                          Blank</a>
                      </li>
                      <li><a href="panel-page-blank-tabs.html"><i class="icon icon-document"></i>Tabs
                          Blank <i class=" icon-angle-left  pull-right"></i></a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="icon icon-fingerprint text-green"></i>Auth Pages<i
                        class=" icon-angle-left  pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a href="login.html"><i class="icon icon-document"></i>Login Page 1</a>
                      </li>
                      <li><a href="login-2.html"><i class="icon icon-document"></i>Login Page 2</a>
                      </li>
                      <li><a href="login-3.html"><i class="icon icon-document"></i>Login Page 3</a>
                      </li>
                      <li><a href="login-4.html"><i class="icon icon-document"></i>Login Page 4</a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="icon icon-bug text-red"></i>Error Pages<i
                        class=" icon-angle-left  pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a href="panel-page-404.html"><i class="icon icon-document"></i>404 Page</a>
                      </li>
                      <li><a href="panel-page-500.html"><i class="icon icon-document"></i>500 Page<i
                            class=" icon-angle-left  pull-right"></i></a>
                      </li>
                      <li><a href="panel-page-error.html"><i class="icon icon-document"></i>420 Page<i
                            class=" icon-angle-left  pull-right"></i></a>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="icon icon-documents3"></i>Other Pages<i class=" icon-angle-left  pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a href="panel-page-invoice.html"><i class="icon icon-document"></i>Invoice
                          Page</a>
                      </li>
                      <li><a href="panel-page-no-posts.html"><i class="icon icon-document"></i>No Post
                          Page</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="treeview">
                <a>
                  <i class="icon icon-goals-1  s-24"></i> <span>Elements</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="panel-element-widgets.html">
                      <i class="icon icon-widgets amber-text s-14"></i> <span>Widgets</span>
                    </a>
                  </li>
                  <li><a href="panel-element-counters.html">
                      <i class="icon icon-filter_9_plus amber-text s-14"></i> <span>Counters</span>
                    </a>
                  <li><a href="panel-element-buttons.html">
                      <i class="icon icon-touch_app amber-text s-14"></i> <span>Buttons</span>
                    </a>
                  </li>
                  <li>
                    <a href="panel-element-typography.html">
                      <i class="icon icon-text-width amber-text s-14"></i> <span>Typography</span>
                    </a>
                  </li>
                  <li><a href="panel-element-tabels.html">
                      <i class="icon icon-table amber-text s-14"></i> <span>Tables</span>
                    </a>
                  </li>
                  <li><a href="panel-element-alerts.html">
                      <i class="icon icon-exclamation-circle amber-text s-14"></i> <span>Alerts</span>
                    </a>
                  </li>
                  <li><a href="panel-element-slider.html"><i class="icon icon-view_carousel amber-text s-14"></i>
                      <span>Slider</span></a></li>
                  <li><a href="panel-element-tabs.html"><i class="icon icon-folders2 amber-text s-14"></i>
                      <span>Tabs</span></a></li>
                  <li><a href="panel-element-progress-bars.html"><i class="icon icon-folders2 amber-text s-14"></i>
                      <span>Progress Bars</span></a></li>
                  <li><a href="panel-element-badges.html"><i class="icon icon-flag7 amber-text s-14"></i>
                      <span>Badges</span></a></li>
                  <li><a href="panel-element-preloaders.html"><i class="icon icon-data_usage amber-text s-14"></i>
                      <span>Preloaders</span></a></li>
                </ul>
              </li>
              <li class="treeview ">
                <a>
                  <i class="icon icon-wpforms  s-24 "></i> <span>Forms & Plugins</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="panel-element-forms.html"><i class="icon icon-wpforms light-green-text"></i>Bootstrap
                      Inputs</a>
                  </li>
                  <li><a href="form-jquery-validations.html"><i class="icon icon-note-important light-green-text"></i>
                      Form Validation (Jquery)</a>
                  </li>
                  <li><a href="form-bootstrap-validations.html"><i
                        class="icon icon-note-important light-green-text"></i>
                      Form Validation (Bootstrap)</a>
                  </li>
                  <li><a href="panel-element-editor.html"><i class="icon icon-pen2 light-green-text"></i>Editor</a>
                  </li>
                  <li><a href="panel-element-toast.html"><i
                        class="icon icon-notifications_active light-green-text"></i>Toasts</a>
                  </li>
                  <li><a href="panel-element-stepper.html"><i
                        class="icon icon-burst_mode light-green-text"></i>Stepper</a>
                  </li>
                  <li><a href="panel-element-date-time-picker.html"><i
                        class="icon icon-date_range light-green-text"></i>Date Time Picker</a>
                  </li>
                  <li><a href="panel-element-color-picker.html"><i class="icon icon-adjust light-green-text"></i>Color
                      Picker</a>
                  </li>
                  <li><a href="panel-element-range-slider.html"><i
                        class="icon icon-space_bar light-green-text"></i>Range
                      Slider</a>
                  </li>
                  <li><a href="panel-element-select2.html"><i
                        class="icon  icon-one-finger-click light-green-text"></i>Select 2</a>
                  </li>
                  <li><a href="panel-element-tags.html"><i class="icon  icon-tags3 light-green-text"></i>Tags</a>
                  </li>
                  <li><a href="panel-element-data-tables.html"><i class="icon icon-table light-green-text"></i>Data
                      Tables</a>
                  </li>
                </ul>
              </li>
              <li class="treeview"><a>
                  <i class="icon icon-bar-chart2  s-24"></i>
                  <span>Charts</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="panel-element-charts-js.html"><i
                        class="icon icon-area-chart pink-text s-14"></i><span>Charts.Js</span></a>
                  </li>
                  <li>
                    <a href="panel-element-morris.html"><i class="icon icon-bubble_chart pink-text s-14"></i>Morris
                      Charts</a>
                  </li>
                  <li>
                    <a href="panel-element-echarts.html">
                      <i class="icon icon-bar-chart-o pink-text s-14"></i>Echarts</a>
                  </li>
                  <li>
                    <a href="panel-element-easy-pie-charts.html">
                      <i class="icon icon-area-chart pink-text s-14"></i>Easy Pie Charts</a>
                  </li>
                  <li>
                    <a href="panel-element-jqvmap.html">
                      <i class="icon icon-map pink-text s-14"></i>Jqvmap</a>
                  </li>
                  <li>
                    <a href="panel-element-sparklines.html">
                      <i class="icon icon-line-chart2 pink-text s-14"></i>Sparklines</a>
                  </li>
                  <li>
                    <a href="panel-element-float.html">
                      <i class="icon icon-pie-chart pink-text s-14"></i>Float Charts</a>
                  </li>
                </ul>
              </li>
              <li class="treeview"><a>
                  <i class="icon icon-dialpad  s-24"></i>
                  <span>Extra</span>
                  <i class=" icon-angle-left  pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="panel-element-letters.html">
                      <i class="icon icon-brightness_auto light-blue-text s-14"></i>
                      <span>Avatar Placeholders</span>
                    </a>
                  </li>
                  <li>
                    <a href="panel-element-icons.html">
                      <i class="icon icon-camera2 light-blue-text s-14"></i> <span>Icons</span>
                    </a>
                  </li>
                  <li><a href="panel-element-colors.html">
                      <i class="icon icon-palette light-blue-text s-14"></i> <span>Colors</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="relative brand-wrapper sticky b-b p-3">
              <form>
                <div class="form-group input-group-sm has-right-icon">
                  <input class="form-control form-control-sm light r-30" placeholder="Search" type="text">
                  <i class="icon-search"></i>
                </div>
              </form>
            </div>
            <div class="sticky slimScroll">

              <div class="p-2">
                <ul class="list-unstyled">
                  <!-- Alphabet with number of contacts -->
                  <li class="pt-3 pb-3 sticky p-3 b-b white">
                    <span class="badge r-3 badge-success">A</span>
                  </li>
                  <!-- Single contact -->
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u1.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u6.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u6.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="pt-3 pb-3 sticky p-3 b-b white">
                    <span class="badge r-3 badge-danger">B</span>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u2.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u3.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u4.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <!-- Alphabet with number of contacts -->
                  <li class="pt-3 pb-3 sticky p-3 b-b white">
                    <span class="badge r-3 badge-success gradient">C</span>
                  </li>
                  <!-- Single contact -->
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u1.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u6.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u6.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-4">
                    <span class="badge r-3 badge-danger purple">D</span>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u2.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u3.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="my-1">
                    <div class="card no-b p-3">
                      <div class="">

                        <div class="image mr-3  float-left">
                          <img class="w-40px" src="assets/img/dummy/u4.png" alt="User Image">
                        </div>
                        <div>
                          <div>
                            <strong>Alexander Pierce</strong>
                          </div>
                          <small> alexander@paper.com</small>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div class="has-sidebar-left">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
          <div class="search-bar">
            <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
              placeholder="start typing...">
          </div>
          <a data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
        </div>
      </div>
    </div>
  </div>
  <a data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
    <i></i>
  </a>
  <div class="has-sidebar-left has-sidebar-tabs">
    <!--navbar-->
    <div class="sticky">
      <div class="navbar navbar-expand d-flex bd-navbar white shadow">
        <div class="relative">
          <div class="d-flex">
            <div class="d-none d-md-block">
              <h1 class="nav-title">Inbox2</h1>
            </div>
          </div>
        </div>
        <!--Top Menu Start -->

      </div>
    </div>
    <!--#navbar-->
    <div class="container-fluid relative animatedParent animateOnce p-0">
      <div class="row d-flex bd-highlight no-gutters">
        <div>
          <div class="p-5">
            <a class="btn btn-primary btn-sm mb-5"><i class="icon-plus"></i>{{text_create}}</a>
            <ul class="sidebar-menu">

              <li class="treeview"><span class="badge badge-primary lighten-4">{{ad_group_name}}</span>
              </li>
              <li class="treeview" *ngIf="status=='ENABLED'"> <span class="badge bg-white text-success"><span
                    class="blink"><i class="icon icon-circle mr-2"
                      style="color: green"></i>{{label_enabled}}</span></span>
              </li>
              <li class="treeview" *ngIf="status=='PAUSED'"> <span class="badge badge-danger pink"><span
                    class="blink"><i class="icon icon-circle mr-2"></i>{{label_paused}}</span></span>
              </li>
              <li class="divider">
                <hr>
                <p class="text-primary" style="font-weight: bold">{{text_cibled}}</p>
              </li>
              <ng-container *ngIf="genres!=''">

                <ng-container *ngFor="let gender of genres">

                  <li class="treeview" *ngIf="gender.item_id==10"><a class="text-primary"><i
                        class="icon icon-male indigo-text s-18"></i>{{gender.item_text}}</a></li>
                  <li class="treeview" *ngIf="gender.item_id==11"><a class="text-primary"><i
                        class="icon icon-female indigo-text s-18"></i>{{gender.item_text}}</a>
                  </li>
                  <li class="treeview" *ngIf="gender.item_id==20"><a class="text-primary"><i
                        class="icon icon-intersex indigo-text s-18"></i>{{gender.item_text}}</a>
                  </li>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="genres==''">
                <span class="badge badge-danger text-white"><span class="blink"><i class="icon icon-circle mr-2"
                      style="color: green"></i>{{text_no_genre}}</span></span>
              </ng-container>
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="openAddCiblageGenre()"><i
                  class="icon-edit"></i></a>
              <li class="divider">
                <div class="card mt-3 mb-3 text-center no-b" *ngIf="isCiblageGenre">
                  <div class="card-header bg-white no-b">
                    <div class="card-title text-info text-center" style="font-weight: bold">{{modify_gender_text}}</div>

                  </div>
                  <ul class="no-b">
                    <li class="list-group-item">
                      <ng-multiselect-dropdown style="background-color: white" [placeholder]="'Genres'"
                        [data]="dropdownListSexes" [settings]="dropdownSettingsSexes" (onSelect)="onSexeSelect($event)"
                        (onSelectAll)="onSexeSelectAll($event)" (onDeSelect)="onSexeDeSelect($event)"
                        (onDeSelectAll)="onDeSelectAllSexe()">
                      </ng-multiselect-dropdown>

                    </li>

                  </ul>

                  <div class="card-footer text-center white no-b">

                    <a class="btn-fab btn-fab-sm shadow btn-success" (click)="targetGender()" *ngIf="isCiblageGenre"><i
                        class="icon-check"></i></a>
                    <a class="btn-fab btn-fab-sm shadow btn-danger" (click)="closeAddCiblageGenre()"
                      *ngIf="isCiblageGenre"><i class="icon-close"></i></a>

                  </div>
                </div>

              </li>
              <li class="divider">
                <hr>
                <p class="text-primary" style="font-weight: bold">{{text_cibled_age}}</p>
              </li>
              <ng-container *ngIf="populations!=''">

                <ng-container *ngFor="let age of populations">

                  <li class="treeview"><a class="text-primary"><i
                        class="icon icon-group text-primary s-18"></i>{{age.item_text}}</a>

                </ng-container>
              </ng-container>
              <ng-container *ngIf="populations==''">
                <span class="badge badge-danger text-white"><span class="blink"><i class="icon icon-circle mr-2"
                      style="color: green"></i>{{text_no_age}}</span></span>
              </ng-container>
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="openAddCiblageAge()"><i
                  class="icon-edit"></i></a>
              <li class="divider">
                <hr>
              </li>
              <li class="treeview">
                <div class="card mt-3 mb-3 text-center no-b" *ngIf="isCiblageAge">
                  <div class="card-header bg-white no-b">
                    <div class="card-title text-info text-center" style="font-weight: bold">{{modify_age_text}}</div>

                  </div>
                  <ul class="no-b">
                    <li class="list-group-item">
                      <ng-multiselect-dropdown style="background-color: white" [placeholder]="'Ã‚ges'"
                        [data]="dropdownListAges" [settings]="dropdownSettingsAges" (onSelect)="onAgeSelect($event)"
                        (onSelectAll)="onAgeSelectAll($event)" (onDeSelect)="onAgeDeSelect($event)"
                        (onDeSelectAll)="onDeSelectAllAge()">
                      </ng-multiselect-dropdown>

                    </li>

                  </ul>

                  <div class="card-footer text-center white no-b">

                    <a class="btn-fab btn-fab-sm shadow btn-success" (click)="targetAge()" *ngIf="isCiblageAge"><i
                        class="icon-check"></i></a>
                    <a class="btn-fab btn-fab-sm shadow btn-danger" (click)="closeAddCiblageAges()"
                      *ngIf="isCiblageAge"><i class="icon-close"></i></a>

                  </div>
                </div>

              </li>
              <li class="divider">
                <hr>
                <p class="text-primary" style="font-weight: bold">{{text_cibled_devices}}</p>
              </li>
              <ng-container *ngIf="appareils!=''">

                <ng-container *ngFor="let device of appareils">

                  <li class="treeview"><a class="text-primary" *ngIf="device.item_id=='30000'"><i
                        class="icon icon-laptop text-primary s-18"></i>{{device.item_text}}</a></li>
                  <li class="treeview"><a class="text-primary" *ngIf="device.item_id=='30001'"><i
                        class="icon icon-mobile-phone text-primary s-18"></i>{{device.item_text}}</a></li>
                  <li class="treeview"><a class="text-primary" *ngIf="device.item_id=='30002'"><i
                        class="icon icon-tablet_android text-primary s-18"></i>{{device.item_text}}</a></li>
                  <li class="treeview"><a class="text-primary" *ngIf="device.item_id=='30004'"><i
                        class="icon icon-tv text-primary s-18"></i>{{device.item_text}}</a></li>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="appareils==''">
                <span class="badge badge-danger text-white"><span class="blink"><i class="icon icon-circle mr-2"
                      style="color: green"></i>{{text_no_devices}}</span></span>
              </ng-container>
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="openAddCiblageDevices()"><i
                  class="icon-edit"></i></a>
              <li class="divider">
                <hr>
              </li>
              <li class="treeview">
                <div class="card mt-3 mb-3 text-center no-b" *ngIf="isCiblageDevices">
                  <div class="card-header bg-white no-b">
                    <div class="card-title text-info text-center" style="font-weight: bold">{{modify_devices_text}}
                    </div>

                  </div>
                  <ul class="no-b">
                    <li class="list-group-item">
                      <ng-multiselect-dropdown style="background-color: white" [placeholder]="'Appareils'"
                        [data]="dropdownListDevices" [settings]="dropdownSettingsDevices"
                        (onSelect)="onDevicesSelect($event)" (onSelectAll)="onDevicesSelectAll($event)"
                        (onDeSelect)="onDevicesDeSelect($event)" (onDeSelectAll)="onDeSelectAllDevices()">
                      </ng-multiselect-dropdown>

                    </li>

                  </ul>

                  <div class="card-footer text-center white no-b">

                    <a class="btn-fab btn-fab-sm shadow btn-success" (click)="targetDevices()"
                      *ngIf="isCiblageDevices"><i class="icon-check"></i></a>
                    <a class="btn-fab btn-fab-sm shadow btn-danger" (click)="closeAddCiblageDevices()"
                      *ngIf="isCiblageDevices"><i class="icon-close"></i></a>

                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
        <div class="flex-fill b-l height-full white">
           <div>
      <button (click)="compressFile()">Upload and compress Image</button>
      <img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="">
      <img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="">
    </div>
                              <div class="card mb-3 shadow no-b r-0">
                        <div class="card-header white text-center text-primary">
                            <h6>Construire son annonce</h6>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-row text-center">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Nom de l'annonce</label>
                                        <input type="text" class="form-control" id="ad_name" placeholder="Nom" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    
                                    
                                   
                                </div>

                       
                            </form>


                        </div>
                    </div>

          <!--  <app-annonce-service-component [ad_group_id]="ad_group_id"></app-annonce-service-component> -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{text_visualise}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="card">
                <img class="card-img-top" src="assets/img/demo/portfolio/p6.jpg" style="width: 250px; height: 300px" alt="card my-3 image cap" id="ad_image">
               
                <div class="card-footer">
                    <small class="text-muted">{{ad_name}}</small>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



          <div class="card no-b">

            <div class="card-header white text-center b-0"> <a class="btn-fab btn-fab-md shadow btn-primary"
                (click)="triggerImage()" title="Ajouter une image"><i class="icon-image"></i></a>
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="triggerText()" title="Ajouter un texte"><i
                  class="icon-title"></i></a>
              <!--  <a class="btn-fab btn-fab-md shadow btn-primary library" title="Backgrounds"><i class="icon-photo_library"></i></a> -->
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="addFigure('circle');"><i
                  class="icon-circle-o"></i></a>

              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="addFigure('triangle');"><i
                  class="icon-toggle-up"></i></a>
              <a class="btn-fab btn-fab-sm shadow btn-primary" (click)="addFigure('rectangle');"><i
                  class="icon-border_horizontal"></i></a>
              <!--  <button class="bg-primary r-20 border-0" [disabled]="!selected || selected.type== 'group'" (click)="clone();"><i class="icon-clone" style="color: white"></i></button> -->
              <a class="btn-fab btn-fab-sm shadow btn-success" (click)="clone();"><i class="icon-clone"></i></a>
              <a class="btn-fab btn-fab-sm shadow btn-danger" (click)="removeSelected();"><i
                  class="icon-delete_forever"></i></a>

            </div>
            <div class="card-body white no-b">
           <div class="col" style="text-align: center;">
                  <div style="display: inline-block">

                      <button type="button" class="btn btn-warning r-20 blink" id="popper" data-toggle="control-sidebar"
                        *ngIf="selected" style="float: left !important; height: 40px; margin-top: -35px; margin-left: -40px"><i
                          class="icon-settings2"></i></button>
                    <canvas id="canvas"
                      style="border-color: rgb(233, 216, 216); width: 250px !important; height: 250px !important; display: inline-block"></canvas>
                  </div>
                </div>







            </div>




            <div class="card-footer border-0 white">
              <button class="btn btn-lg btn-block btn-primary" style="float: right" data-toggle="modal" data-target="#exampleModal" (click)="saveImage()">
                <i class="icon-paper-plane" ></i> Terminer l'annonce
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>



  <div *ngIf="isCreating">
    <app-spinner-overlay [message]="message"></app-spinner-overlay>

  </div>
  <aside class="control-sidebar fixed white" style="height: 400px; margin-top: 20% !important">
    <div class="slimScroll" style="height: 400px;">
      <div class="sidebar-header bg-light">
        <h6 class='text-warning'>{{text_option}}</h6>
        <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle active"><i></i></a>
      </div>

      <div class="card-body text-center">
        <div class="row">



          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-group no-b text-center">
                <li class="list-group-item d-flex align-items-center" *ngIf="selected && selected.type != 'group'">
                  <div>
                    <i class="icon icon-opacity purple-text"></i>
                  </div>
                  <div>

                    <input type="range" class="range-slider form-control" [(ngModel)]="props.opacity"
                      (change)="setOpacity()" style="width: 150px !important;">

                  </div>
                </li>

                <li class="list-group-item d-flex align-items-center"
                  *ngIf="selected && textEditor || selected && figureEditor">

                  <i class="icon icon-palette text-blue"></i>


                  <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill"
                    [style.background]="props.fill" [value]="props.fill" (colorPickerChange)="setFill()"
                    style="width: 150px !important;">


                </li>
                <li class="list-group-item d-flex align-items-center" *ngIf="selected && textEditor">
                  <div>
                    <i class="icon icon-format_size pink-text"></i>
                  </div>
                  <div>
                    <select class="custom-select select2" [(ngModel)]="props.fontFamily" (change)="setFontFamily()"
                      style="width: 150px !important;" required>
                      <option value="arial">Arial</option>
                      <option value="helvetica" selected>Helvetica</option>
                      <option value="verdana">Verdana</option>
                      <option value="courier">Courier</option>
                      <option value="Roboto">Roboto</option>
                      <option value="Open Sans">Open Sans</option>
                      <option value="Zilla Slab">Zilla Slab</option>
                      <option value="Lato">Lato</option>
                      <option value="Bellefair">Bellefair</option>
                      <option value="Fresca">Fresca</option>
                      <option value="Raleway">Raleway</option>
                      <option value="Open Sans Condensed">Open Sans Condensed</option>
                      <option value="Indie Flower">Indie Flower</option>
                      <option value="Josefin Sans">Josefin Sans</option>
                      <option value="Inconsolata">Inconsolata</option>
                      <option value="Pacifico">Pacifico</option>
                      <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                    </select>
                  </div>
                </li>
                <li class="list-group-item d-flex align-items-center" *ngIf="selected && textEditor">
                  <div>
                    <i class="icon icon-line_style text-green"></i>
                  </div>
                  <div style="display: flex; flex-direction: row">



                <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info"
                    [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()"><i
                      class="icon-format_italic"></i></a></li>
                <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info"
                    [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')"><i
                      class="icon-underline"></i></a>
                </li>
                <li class="list-inline-item"> <a class="btn-fab btn-fab-sm shadow btn-info"
                    [ngClass]="{'active': props.fontWeight }" (click)="setBold()"><i class="icon-bold"></i></a></li>


            </div>
            </li>

            </ul>
          </div>
          <div class="col-md-3">



          </div>
          <div class="col image-block draggable" style="display: none">
            <div class="card b-0">
              <div class="card-body p-5">
                <div class="card">
                  <div class="card-header">Upload image</div>
                  <div class="card-body text-center">
                    <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url"
                      (click)="addImageOnCanvas(url);">
                    <input type="file" (change)="readUrl($event);" id="image">
                    <br />
                    <br />
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                          <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</aside>

<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
<div class="control-sidebar-bg shadow white fixed draggable" style="height: 300px; margin-top: 20% !important"></div>
</div>
<!--/#app -->


<img id="_ad_image" style="display: none" src="#">