

<!-- User NOT logged in -->


  <!-- h6>Howdy, GUEST</h6>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>


<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h6>Howdy, {{ user.displayName }}</h6>
    <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" style="width: 100px; height: 100px; border-radius: 400px">
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <button class="button" (click)="logout()">Logout</button>
  </div> -->




    <!--navbar-->
                <div class="sticky mat-elevation-z4">
        <!-- <div class="navbar navbar-expand d-flex justify-content-between bd-navbar green lighten-3 shadow">
             -->
             <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white" style="height: 70px">

                  <!--   <button mat-mini-fab  class="white box-shadow-none" (click)="openMenuLabel()">
     <mat-icon class="d-inline-block text-black">menu</mat-icon>

   </button> -->
 
                  <img class="d-none d-md-block " src="assets/img/images/newlogo.png" style="width: 15%;" >
                  <img class="d-md-none d-sm-block" src="assets/img/images/newlogo.png" style="width: 20%;" >

<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        
          <button mat-raised-button class="adafri-background text-white r-20 box-shadow-none d-none d-md-block"(click)="toggleCreateCampaign()"><mat-icon>add</mat-icon>Nouvelle campagne</button>
            <button mat-raised-button class="white box-shadow-none" style="margin-top: -5px" disableRipple="true">
          <img src="assets/img/images/coins.svg" style="width: 24px; height: 24px">  {{accountValue}} CFA
        </button>
         
        
           <button mat-mini-fab class="white box-shadow-none" style="margin-top: -5px">
             <span class="badge adafri-background badge-mini rounded-circle text-white">{{numberOfNotifications}}</span>
              <img src="assets/img/images/bell.svg" style="width: 24px; height: 24px">
            </button>
        <button mat-button [matMenuTriggerFor]="userMenu" style="box-shadow: none; box-sizing: none; margin-top: -5px" class="d-none d-md-block">{{email}}  <figure class="avatar">
                  <img [src]='photoURL' style="position: absolute; top: 0; bottom: 0">
                </figure></button>
<mat-menu #userMenu="matMenu" class="adafri-background">
  <button mat-menu-item (click)="goProfile()">
    <mat-icon>face</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="auth.signOut()">
    <mat-icon>subdirectory_arrow_left</mat-icon>
    <span>Déconnexion</span>
  </button>


</mat-menu>
    </ul>
</div>
        </div>
        
        <!--  -->
      </div>

<mat-drawer-container
    class="example-container height-full p-0 paper-card background-yellow-adafri">
    <mat-drawer mode="side" #matDrawer opened="opened" class="fixed adafri-background height-full p-0 text-center" style="width: min-content;" >
  
    <div style="width: max-content; margin-top: 100px" class="p-0">
<mat-list style="margin-top: 30%" class="p-0" >

  <mat-list-item matLine *ngFor="let menuItem of modulesList" class="p-0">
 <button mat-mini-fab #buttonT class="adafri-background text-white box-shadow-none" style="cursor: pointer" (mouseenter)="buttonEnter(levelOneTrigger, buttonT)"  [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" [id]="menuItem.id">
      <mat-icon class="text-white">{{menuItem.icon}}</mat-icon>

    </button>

     <!--  <p mat-line *ngIf="showMenuLabel"> {{menuItem.label}} </p>  -->
     <mat-menu #levelOne="matMenu" direction="right" xPosition="before" class="adafri-background p-0 max-width-menu adafri" style="z-index: 1000">

      <span (mouseleave)="menuLeave(levelOneTrigger, buttonT)">
      <ng-container *ngFor="let childL1 of menuItem.children">
         <button mat-menu-item *ngIf="!childL1.children" (click)="actionClicked(childL1.action)">  <mat-icon class="text-white">{{childL1.icon}}</mat-icon>
           <span class="adafri-police-14 text-white">{{childL1.label}}</span></button>
      </ng-container>
      </span>
    </mat-menu>
  </mat-list-item>

</mat-list>
<button mat-mini-fab [matMenuTriggerFor]="userMenuSide" style="box-shadow: none; box-sizing: none" class="adafri-background d-md-none d-sm-block"><figure class="avatar">
                  <img [src]='photoURL'>
                </figure></button>
<mat-menu #userMenuSide="matMenu" class="adafri-background">
  <button mat-menu-item (click)="goProfile()">
    <mat-icon>face</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="auth.signOut()">
    <mat-icon>subdirectory_arrow_left</mat-icon>
    <span>Déconnexion</span>
  </button>


</mat-menu>
    </div>
    

  </mat-drawer>

    <mat-drawer-content class="progress-width height-full background-yellow-adafri">
            
          <div class="paper-card no-b height-full" style="box-shadow: none" *ngIf="profile">
      <app-user></app-user>
    </div>
                <div class="height-full background-yellow-adafri" style="box-shadow: none" *ngIf="listCampaign">
              <div class="paper-card text-center p-0 background-yellow-adafri no-b" style="box-shadow: none">
               <div class="text-center background-yellow-adafri" style="margin-top: 10%">
     <img class="img-responsive d-inline-block" src="assets/img/images/digital-campaign.svg" style="width: 100px; height: 100px">
                <h1>Toutes les campagnes</h1>
              </div> 
              <div class="paper-card p-10 background-yellow-adafri text-center height-full" style="box-shadow: none;">
                  <div class="example-header text-center" style="width: 100%">

    <mat-form-field class="d-inline-block">
      <input matInput (keyup)="applyFilter($event.target.value)" value="Rechercher une campagne" style="font-size: 14px;" (click)="erase()" id="rechercher">
       <span matPrefix><img src="assets/img/images/search.svg" style="width: 24px; height: 24px">&nbsp;</span>
    </mat-form-field>

    <button mat-fab (click)="createNewcampaign()" class="adafri-background text-white d-md-none d-sm-block" matTooltip="Créer une nouvelle campagne" matTooltipPosition="left" style="box-shadow: none">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
  </div>

  <mat-card class="p-0" style="margin-top: 10px;" >
   
<mat-table #table [dataSource]="dataSource">
     <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef >
        Actions
      </mat-header-cell>

      <mat-cell *matCellDef="let row">

       <button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>

</button>
<mat-menu #menu="matMenu" class="mat-elevation-z4">
  <ng-container >
    <button mat-menu-item (click)="updateCampaign(row.id, row.id_campagne, row.name, row.status, row.budget)">
      <mat-icon >edit</mat-icon>
      <span>Modifier</span>
    </button>
    <button mat-menu-item (click)="deleteCampaign(row.id, row.id_campagne)">
      <mat-icon>delete</mat-icon>
      <span>Supprimer</span>
    </button>
  </ng-container>

</mat-menu>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Campagne</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="adafri-police-14 d-none d-md-block"> {{element.name}}</span>
    
         <span class="adafri-police-12 d-md-none d-sm-block"> {{element.name}}</span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="adafri-police-14 d-none d-md-block text-warning" *ngIf="element.status==='PAUSED'">En pause</span>
      <span class="adafri-police-12 d-md-none d-sm-block text-warning" *ngIf="element.status==='PAUSED'">En pause</span>

       <span class="adafri-police-14 d-none d-md-block text-success" *ngIf="element.status==='ENABLED'">Activée</span>
      <span class="adafri-police-12 d-md-none d-sm-block text-success" *ngIf="element.status==='ENABLED'">Activée</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date de début">
      <mat-header-cell *matHeaderCellDef> Dates </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="adafri-police-14 d-none d-md-block">Du: {{element.startDateFrench}}</span>
       <span class="adafri-police-12 d-md-none d-sm-block">Du: {{element.startDateFrench}}</span>
         <span class="adafri-police-14 d-none d-md-block">Au: {{element.endDateFrench}}</span>
           <span class="adafri-police-12 d-md-none d-sm-block">Au: {{element.endDateFrench}}</span>
       </mat-cell>
    </ng-container>
     <ng-container matColumnDef="Budget">
      <mat-header-cell *matHeaderCellDef> Budget </mat-header-cell>
      <mat-cell *matCellDef="let element">
         <span class="adafri-police-14 d-none d-md-block font-weight-bold">{{(((element.budget*100)/80))}} XOF</span>
                  <span class="adafri-police-12 d-md-none d-sm-block font-weight-bold">{{(((element.budget*100)/80))}} XOF</span>
         </mat-cell>
    </ng-container>
     <ng-container matColumnDef="Paramétrer">
      <mat-header-cell *matHeaderCellDef> <mat-icon>build</mat-icon> </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
       <button mat-mini-fab class="text-white adafri-background r-20"  style="box-shadow: none" (click)="goCampaignSettings(element.id, element.id_campagne, element.name, element.status, element.budget, element.budgetId, element.dailyBudget, element.numberOfDays)"><mat-icon>forward</mat-icon></button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="p-0"></mat-header-row>
    <mat-row class="p-0" *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator style="background: whitesmoke"
                 [pageSize]="10"
                 [pageSizeOptions]="[1, 5, 10, 20]"
                 [showFirstLastButtons]="false">
  </mat-paginator>
</mat-card>
  <br>
  <br>
  <br>
  <br>

              </div>

            </div>
            </div>
          <div class="paper-card p-0 height-full text-center background-yellow-adafri" *ngIf="createCampaign">
            <app-create-campaign></app-create-campaign>

          </div>
    </mat-drawer-content>
</mat-drawer-container>












