

 <div class="container-fluid pt-5 bg-white" >
   <div class="text-center p-5">
       <i class="icon-new_releases s-128 text-info"></i>
       <br>
       <br>
       <small><strong>Créer sa campagne publicitaire</strong></small>
       <br>
       <br>
       <div class="form-row text-center">
           <input [(ngModel)]="name" placeholder="Nom de la campagne" class="form-control" name="note" id="campagne" style="display: inline-block">

       </div>
        <br>
       <button href="#" class="btn teal darken3 text-white shadow btn-lg r-20 btn-social text-center" (click)="addCampaign()" [disabled]="name?.length < 5 || name?.length > 15" style="display: inline-block; font-size: 14px"><i class="icon-plus-circle mr-2 "></i>Nouvelle Campagne</button>
       <br>
       <br>
           <a href="/" class="btn btn-warning text-white shadow btn-lg r-20 btn-social text-center" style="display: inline-block; font-size: 14px"><i class="icon-chevron-circle-left mr-2"></i>Liste des campagnes</a>

          
   </div>
   
  <div *ngIf="isCreating">
      <app-spinner-overlay [message]="message"></app-spinner-overlay>

   </div>
</div>